# Django
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True

# Daraja (M-Pesa) Sandbox
DARAJA_CONSUMER_KEY=
DARAJA_CONSUMER_SECRET=
DARAJA_SHORTCODE=
DARAJA_INITIATOR_NAME=
DARAJA_SECURITY_CREDENTIAL=
DARAJA_BASE_URL=https://sandbox.safaricom.co.ke
DARAJA_B2C_CALLBACK_URL=
DARAJA_B2C_TIMEOUT_URL=

# Africa's Talking Sandbox
AT_USERNAME=sandbox
AT_API_KEY=

# Redis / Celery
CELERY_BROKER_URL=redis://localhost:6379/0
